<mat-grid-list cols="1" rowHeight="4:1">

    <mat-grid-tile>
        <button class="menu-buttons" routerLink="/" mat-raised-button>
            <mat-icon>home</mat-icon>
            HOME
        </button>
    </mat-grid-tile>

    <mat-grid-tile>
        <button class="menu-buttons" routerLink="/events" mat-raised-button>
            <mat-icon>event</mat-icon>
            EVENTS
        </button>
    </mat-grid-tile>

    <mat-grid-tile>
        <button class="menu-buttons" routerLink="/clients" mat-raised-button>
            <mat-icon>contact_page</mat-icon>
            CLIENTS
        </button>
    </mat-grid-tile>

    <mat-grid-tile>
        <button class="menu-buttons" routerLink="/company" mat-raised-button>
            <mat-icon>contact_page</mat-icon>
            COMPANY
        </button>
    </mat-grid-tile>

    <mat-grid-tile>
        <button class="menu-buttons" routerLink="/docs" mat-raised-button>
            <mat-icon>description</mat-icon>
            DOCS
        </button>
    </mat-grid-tile>

</mat-grid-list>
